<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block head_title %} {{ self.title() }} {% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="{{ base_url }}/assets/simple.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/assets/custom.css" />
    <!-- Place favicon.ico in the root directory -->
  </head>
  <body>
    <header>
      <h1>{% block title %} {% endblock %}</h1>
    </header>
    <main>{% block body %} {% endblock %}</main>
  </body>
  {% block after_body %} {% endblock %}
</html>
